
/*
AUTHOR:			Tom Eisenbrandt
*/


/*	Body Style	*/
BODY {
	BACKGROUND-COLOR: #262626 ; 		
}

/*	Paragraph Style	*/
P {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	FONT-SIZE: 100% ;
	TEXT-ALIGN: Center ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Header 1 Style	*/
H1 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Header 2 Style	*/
H2 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Header 3 Style	*/
H3 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Header 4 Style	*/
H4 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Header 5 Style	*/
H5 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;	
}

/*	Header 6 Style	*/
H6 {
	COLOR: #e6e6e6 ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Link style	*/
A:LINK {
	COLOR: #0000ff ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Blue ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;
}

/*	Visited Link Style	*/
A:VISITED {
	COLOR: #0000ff ;
	FONT-FAMILY: "Times New Roman" ;
	FONT-STYLE: Normal ;
	TEXT-ALIGN: Center ;
	TEXT-SHADOW: 1px 1px 3px Red ;
	TEXT-DECORATION: None ;
	LINE-HEIGHT: 1.2 ;	
}

/*	Mouse-over Link Style	*/
A:HOVER {
	COLOR: #ff00ff ;
	TEXT-DECORATION: Underline ;
}

/*	Style for Link upon click	*/
A:ACTIVE {
	COLOR: #00ff00 ;
}

/*	Unordered list style	*/
UL {
	LIST-STYLE-TYPE: None ;
	MARGIN: 0 ;
	PADDING: 0 ;
	OVERFLOW: Hidden ;
	BACKGROUND-COLOR: #000000 ; 
}

/*	list style	*/
LI {
	FLOAT: Left ;
}

/*	Horizontal List	*/
LI A {
	DISPLAY: Block ;
	TEXT-ALIGN: Center ;
	PADDING: 16px ;
	TEXT-DECORATION: None ;
}

/*	When mouse is hovering on List item	*/
LI A:HOVER {
	BACKGROUND-COLOR: #666666 ;
}

/*	Image Style	*/
IMG {
	BORDER: 3 ;
	BORDER-RADIUS: 10% ; 
}

/*

END OF FILE

*/